<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  {{if .currentAccount }}
  <a class="navbar-brand" href="/v1/accounts/all">Dan-San Gopher Network</a>
  {{else}}
  <a class="navbar-brand" href="/">Dan-San Gopher Network</a>
  {{end}}

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">

    </ul>
    <ul class="nav navbar-nav ml-auto">
      {{if .currentAccount }}
      <li class="nav-item">
        <a class="nav-link" href="/v1/accounts/all">Список профилей</a>
      </li>
        <li class="nav-item">
          {{- $userUrl := printf "/v1/accounts/%d" .currentAccount.ID -}}
          <a class="nav-link" href={{ $userUrl}}><span class="fas fa-user"></span>{{.currentAccount.Name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/v1/logout"><span class="fas fa-sign-in-alt"></span> Выйти</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/v1/login"><span class="fas fa-sign-in-alt"></span>Войти</a>
        </li>
      {{end}}
    </ul>
  </div>
</nav>