{{template "layout_base.html"}}
{{template "header.html" .}}

<section class="container mt-4 mb-4">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="data:image/png;base64, {{.user.Avatar}}" alt="Аватарка" width="300px" height="350px" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{.user.Name}} {{.user.Surname }}
          </h5>
          <h6>
            Дата рождения: {{.user.Birthday}}
          </h6>
          <h6>
            Город проживания: {{.user.City}}
          </h6>
          <h6>
            Хобби: {{.user.Hobby}}
          </h6>
        </div>
        <h6>
          Друзья:
        </h6>
        {{range .friends}}
        {{- $friendUrl := printf "/v1/accounts/%d" .ID -}}
        <h6 class="text-right m-0"><a href={{$friendUrl}}><i class="far fa-user"></i>{{.Name}} {{.Surname}}</a></h6>
        {{end}}
      </div>
    </div>
  </div>
</section>

